<link href="/css/sidebar.css" rel="stylesheet" type="text/css" />
<div class="sidebar">

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    var id = "<%= id %>"
    var from = "<%= from %>"

    $.get(`/api/accounts`, function (data, status) {
      if (data.accounts.length == 0)
        document.querySelector('.sidebar').innerHTML = '<p>There is no accounts yet.</p>'
      else {
        var html = ''
        html += `<a href='/manual' class='account-link ${window.location.pathname == '/manual' ? 'active' : ''}'>Setting</a>`
        for (var account of data.accounts) {
          html += `<a href='/${from}/${account._id}' class='account-link ${account._id == id ? 'active' : ''}'>${account.username}</a>`
        }
        document.querySelector('.sidebar').innerHTML = html
      }
    })
  })

</script>