<!DOCTYPE html>

<head>
  <title>CW Bot</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="main-content">
    <div class="username"></div>
    <div class="buttons">
      <a class="button" href="/visits">Show Visit History</a>
      <a class="button" href="/settings">Settings</a>
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    var id = "<%= id %>"
    var username = ''
    $.get(`/api/account/${id}`, function (data, status) {
      if (data.success) {
        document.querySelector('.username').innerHTML = `<p>${data.account.username}</p>`
        document.querySelector('.buttons').innerHTML =
          `<a class='button' href='/visits/${id}'>Visit History</p>
          <a class='button' href='/settings/${id}'>Settings</p>`
      }
    })
  })
</script>