<!DOCTYPE html>

<head>
  <title>CW Bot</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="main-content">
    <div class="buttons">
      <a class="button" href="/visits">Show Visit History</a>
      <a class="button" href="/settings">Settings</a>
    </div>
  </div>
</body>