<!DOCTYPE html>

<head>
  <title>Login</title>
  <style>
    .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  </style>
</head>

<body>
  <div class="login-form">

    <input type="text" id="username" />
    <input type="password" id="password" />
    <input type="button" id="login" value="Log in" />
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      $.get('/api/loginjwt', (data, status) => {
        if (data.success) {
          window.open('/', '_self')
        }
      })
      document.querySelector('#login').addEventListener('click', () => {
        var username = document.querySelector('#username').value
        var password = document.querySelector('#password').value
        
        if (!password || !username) {
          window.alert('Invalid submit')
        } else {
          $.post('/api/login', { username, password }, (data, status) => {
            if (data.success) {
              window.open('/', '_self')
            }
          })
        }
      })
    })
  </script>
</body>